<form action="/<%= action %> " method="POST">
  <% if (action==="signup" ) { %>
    <label for="email">Email:</label>
    <input type="text" name="email" id="email" placeholder="Enter your email address">
    <% } %>
</form>