<header class="navbar">
  <%- include('_logout') %>
  <ul class="my-links">
    <li>
      <a href="https://github.com/IncendioHawk">
        <img src="/images/githubLogo.png" alt="Github" />
      </a>
    </li>
    <li>
      <a href="https://replit.com/@IncendioHawk">
        <img src="/images/replitLogo.jpg" alt="Replit" />
      </a>
    </li>
    <li>
      <a href="https://codepen.io/IncendioHawk">
        <img src="/images/codepenLogo.png" alt="Codepen" />
      </a>
    </li>
    <li>
      <a href="mailto:incendiohawk@gmail.com">
        <img src="/images/emailLogo.png" alt="Email" />
      </a>
    </li>
    <li>
      <a href="https://www.reddit.com/user/IncendioHawk">
        <img src="/images/redditLogo.png" alt="Reddit" />
      </a>
    </li>
  </ul>
  <%- include("_navbar-side") %>
</header>
