<header class="navbar">
  <%- include('_logout') %>
  <a href="/" class="home">Home</a>
  <ul class="my-links">
    <li>
      <a target="_blank" href="https://github.com/IncendioHawk">
        <img src="/images/myLinks/githubLogo.png" alt="Github" />
      </a>
    </li>
    <li>
      <a target="_blank" href="https://replit.com/@IncendioHawk">
        <img src="/images/myLinks/replitLogo.jpg" alt="Replit" />
      </a>
    </li>
    <li>
      <a target="_blank" href="https://codepen.io/IncendioHawk">
        <img src="/images/myLinks/codepenLogo.png" alt="Codepen" />
      </a>
    </li>
    <li>
      <a target="_blank" href="mailto:incendiohawk@gmail.com">
        <img src="/images/myLinks/emailLogo.png" alt="Email" />
      </a>
    </li>
    <li>
      <a target="_blank" href="https://www.reddit.com/user/IncendioHawk">
        <img src="/images/myLinks/redditLogo.png" alt="Reddit" />
      </a>
    </li>
  </ul>
  <%- include("_navbar-side") %>
</header>
