<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <title>My All-In-One Website</title>
  </head>

  <body>
    <%- include('_nav-bar') %>
    <h1 class="welcome-message">Welcome back <%= locals.username %></h1>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        let interactedWithPageWithin30Seconds = false
        document.addEventListener("click", interactedWithPage)
        document.addEventListener("keydown", interactedWithPage)

        setInterval(() => {
          if (interactedWithPageWithin30Seconds) {
            interactedWithPageWithin30Seconds = false
            fetch("http://localhost:5000/interactedWithPage?boolean=true", {
              credentials: "include",
            })
          } else {
            fetch("http://localhost:5000/interactedWithPage?boolean=false", {
              credentials: "include",
            })
          }
        }, 10000)

        function interactedWithPage() {
          interactedWithPageWithin30Seconds = true
        }
      })
    </script>
  </body>
</html>
