<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <title>My All-In-One Website</title>
    <link rel="shortcut icon" href="/images/favicons/pi.png" type="image/x-icon" />
  </head>

  <body>
    <%- include('_nav-bar') %>
    <h1 class="welcome-message">Welcome back <%= locals.username %></h1>
    <main class="main">
      <div class="project"><a href="/projects/dice"></a></div>
      <div class="project"><a href="/projects/todoList"></a></div>
      <div class="project">
        <a href="/projects/dudeneyNumbers">
          <div class="maths-wrapper">
            8<sup>3</sup> = 512 <br />
            5 + 1 + 2 = 8
          </div>
        </a>
      </div>
      <div class="project">
        <a target="_blank" href="https://github.com/IncendioHawk/myMultiUseSSRNodeWebsite"></a>
      </div>
    </main>
    <script>
      const messageStyle = `
      .container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
      }

      .message + a {
        text-decoration: none;
        border: 2.5px solid black;
        border-radius: 2rem;
        padding: 0.5rem 1rem;
        background-color: rgb(240, 240, 240);
        transition: scale 100ms ease-in-out;
        outline: transparent;
      }

      .message + a:hover {
        scale: 1.1;
      }

      .message + a:focus-visible {
        border-color: hotpink;
      }
`
      const urlBase = `${window.location.protocol}//${window.location.hostname}${
        window.location.port ? ":" + window.location.port : ""
      }`
      document.addEventListener("DOMContentLoaded", () => {
        let interactedWithPageWithin30Seconds = false
        document.addEventListener("click", interactedWithPage)
        document.addEventListener("keydown", interactedWithPage)

        setInterval(async () => {
          if (interactedWithPageWithin30Seconds) {
            interactedWithPageWithin30Seconds = false
            fetch(`${urlBase}/interactedWithPage?boolean=true`, {
              credentials: "include",
            })
          } else {
            const response = await fetch(`${urlBase}/interactedWithPage?boolean=false`, {
              credentials: "include",
            })
            const message = await response.json()
            response != null
              ? (document.body.innerHTML = `
              <div class="container">
                <div class="message">${message.message}</div>
                <a href="/login">Return to login page</a>
              </div>
              <style>
               ${messageStyle}
              </style>
    `)
              : ""
          }
        }, 30000)

        function interactedWithPage() {
          interactedWithPageWithin30Seconds = true
        }
      })
    </script>
  </body>
</html>
