@import "shared/variables.css";
@import "shared/header.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: monospace;
  user-select: none;
}

body {
  margin: 0;
  background: linear-gradient(
    to right,
    hsl(var(--color-base-hue), 50%, 30%),
    hsl(calc(var(--color-base-hue) + 100), 50%, 30%)
  );
  font-size: 2rem;
  overflow: hidden;
}

.welcome-message {
  margin-left: 2rem;
}

.logout-success-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.logout-success-message + a {
  text-decoration: none;
  border: 2.5px solid black;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  background-color: rgb(240, 240, 240);
  transition: scale 100ms ease-in-out;
  outline: transparent;
}

.logout-success-message + a:hover {
  scale: 1.1;
}

.logout-success-message + a:focus-visible {
  border-color: hotpink;
}

.login-form-container,
.login-form,
.signup-form-container,
.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.login-form-container,
.signup-form-container {
  min-height: 100vh;
}

.user-input {
  position: relative;
}

.user-input input {
  color: hsl(calc(var(--color-base-hue)), 10%, 70%);
}

label {
  position: absolute;
  color: hsl(calc(var(--color-base-hue)), 10%, 70%);
  font-size: 1.2rem;
  top: 0.85rem;
  left: 0.7rem;
  transition: top 200ms ease 0s, left 200ms ease 0s;
}

.user-input:has(input:not(:placeholder-shown)) label {
  top: -1.4rem;
  left: 0;
}

.user-input:has(> input:focus) {
  & input {
    outline: none;
    border: 2px solid #3b93f7;
  }

  & label {
    top: -1.4rem;
    left: 0;

    &::after {
      content: ":";
    }
  }
}

.login-form input,
.signup-form input {
  height: 3rem;
  padding-inline: 1rem;
  margin-bottom: 1.5rem;
  border: 1px solid #c8ccdf;
  border-radius: 4px;
  width: 25rem;
}

.user-input:has(.error) label,
.user-input:has(.error) input:not([type="submit"]),
.error {
  color: red;
}

.error {
  position: absolute;
  left: 26rem;
  font-size: 1rem;
  width: max-content;
}

.error-email {
  top: 1rem;
}

.error-password {
  top: 1rem;
}

.login-form .submit-btn,
.signup-form .submit-btn {
  border-color: transparent;
  margin-top: 2rem;
  background-color: #3b93f7;
  transition: translate 100ms ease;
  &:hover,
  &:focus-visible {
    outline: transparent;
    background-color: #0a78f5;
    translate: 0 -0.3rem;
  }
}

.signup-link,
.login-link {
  color: hsl(calc(var(--color-base-hue) - 100), 50%, 85%);
  text-decoration: none;
  border: 1px solid hsl(calc(var(--color-base-hue) - 100), 50%, 85%);
  border-radius: 1.5rem;
  padding: 0.7rem 1rem;
  transition: background-color 400ms ease-in-out, border 400ms step-end;
  &:hover,
  &:focus-visible {
    outline: transparent;
    background-color: blue;
    border: none;
  }
}

.main {
  height: 55rem;
  width: 80rem;
  border: 1px solid red;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center;
}

.project {
  height: 95%;
  width: 95%;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.project a {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.project:nth-child(1) {
  background-image: url("/images/projects/dice.png");
}

.project:nth-child(2) {
  background-image: url("/images/projects/clock.png");
  background-size: contain;
}

.project:nth-child(3) {
  text-align: center;
  border: 0.5rem solid white;
  border-radius: 5rem;
}
.project:nth-child(3) a {
  text-decoration: none;
  color: white;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.maths-wrapper {
  height: fit-content;
}

.project:nth-child() {
  background-image: url("/images/projects/");
}

.project:nth-child() {
  background-image: url("/images/projects/");
}
