@import "variables.css";
@import "header.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  user-select: none;
}

body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  background: linear-gradient(
    to right,
    hsl(var(--color-base-hue), 50%, 30%),
    hsl(calc(var(--color-base-hue) + 100), 50%, 30%)
  );
}

.home {
  margin-left: 1rem;
  background-color: white;
  color: black;
  text-decoration: none;
  padding-block: 0.75rem;
  padding-inline: 1rem;
  border-radius: 5rem;
  cursor: pointer;
}

.my-links {
  margin-inline-start: 28rem;
}

.dudeney-number-code {
  display: flex;
  align-items: center;
  justify-content: center;
  & code {
    border-radius: 2rem;
  }
  user-select: text;
}

.dudeney-numbers {
  height: 20rem;
  aspect-ratio: 2 / 1;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.dudeney-numbers-explanation-link {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 50rem;
  color: hsl(calc(var(--color-base-hue) - 100), 50%, 85%);
  text-decoration: none;
  font-family: monospace;
  border: 1px solid hsl(calc(var(--color-base-hue) - 100), 50%, 85%);
  border-radius: 1.5rem;
  padding: 0.7rem 1rem;
  transition: background-color 400ms ease-in-out, border 400ms step-end;
  &:hover,
  &:focus-visible {
    outline: transparent;
    background-color: blue;
    border: none;
  }
}

.dudeney-numbers > span {
  border: 0.15rem solid black;
  border-radius: 50%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
}

.generate-dudeney-numbers {
  position: absolute;
  left: 62.5rem;
  transform: translate(-50%);
  top: 22rem;
  cursor: pointer;
  scale: 2;
  font-size: 0.4rem;
  width: 5rem;
  height: 2rem;
  border: 0.2rem solid hsl(var(--color-base-hue), 50%, 40%);
  border-radius: 2rem;
  transition: background-color 400ms ease-in-out, border-color 400ms ease-in-out;

  &:hover {
    background-color: hsl(var(--color-base-hue), 50%, 40%);
  }

  &:focus-visible {
    outline: transparent;
    background-color: hsl(var(--color-base-hue), 50%, 40%);
  }
}

.dice {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.face {
  position: relative;
  height: 3rem;
  width: 3rem;
  border: 0.3rem solid black;
  border-radius: 0.5rem;
  background-color: white;
}

.face > span {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: black;
  position: absolute;
}

.face-over-six {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
}

/*  */
/*  */
/*  */

.one > span:nth-child(1) {
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

/*  */
/*  */
/*  */

.two > span:nth-child(1) {
  top: 1.75rem;
  left: 0.25rem;
}

.two > span:nth-child(2) {
  top: 0.25rem;
  right: 0.25rem;
}

/*  */
/*  */
/*  */

.three > span:nth-child(1) {
  top: 1.75rem;
  left: 0.25rem;
}

.three > span:nth-child(2) {
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.three > span:nth-child(3) {
  top: 0.25rem;
  right: 0.25rem;
}

/*  */
/*  */
/*  */

.four > span:nth-child(1) {
  top: 0.25rem;
  left: 0.25rem;
}

.four > span:nth-child(2) {
  top: 1.75rem;
  left: 0.25rem;
}

.four > span:nth-child(3) {
  top: 0.25rem;
  right: 0.25rem;
}

.four > span:nth-child(4) {
  top: 1.75rem;
  right: 0.25rem;
}

/*  */
/*  */
/*  */

.five > span:nth-child(1) {
  top: 0.25rem;
  left: 0.25rem;
}

.five > span:nth-child(2) {
  top: 1.75rem;
  left: 0.25rem;
}

.five > span:nth-child(3) {
  top: 0.25rem;
  right: 0.25rem;
}

.five > span:nth-child(4) {
  top: 1.75rem;
  right: 0.25rem;
}

.five > span:nth-child(5) {
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
/*  */
/*  */
/*  */

.six > span:nth-child(1) {
  top: 0.25rem;
  left: 0.25rem;
}

.six > span:nth-child(2) {
  top: 1rem;
  left: 0.25rem;
}

.six > span:nth-child(3) {
  top: 1.75rem;
  left: 0.25rem;
}

.six > span:nth-child(4) {
  top: 0.25rem;
  right: 0.25rem;
}

.six > span:nth-child(5) {
  top: 1rem;
  right: 0.25rem;
}

.six > span:nth-child(6) {
  top: 1.75rem;
  right: 0.25rem;
}

.dice.rolling > .face {
  animation: roll-dice 1.5s ease-in-out infinite;
  animation-delay: calc((var(--face-number) - 1) * 100ms);
}

.dice-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.roll-dice-btn {
  cursor: pointer;
  margin-block: 35rem 2rem;
  scale: 1.5;
  width: 5rem;
  height: 2rem;
  border: 0.2rem solid hsl(var(--color-base-hue), 50%, 40%);
  border-radius: 2rem;
  transition: background-color 400ms ease-in-out, border-color 400ms ease-in-out;

  &:hover {
    background-color: hsl(var(--color-base-hue), 50%, 40%);
  }

  &:focus-visible {
    outline: transparent;
    background-color: hsl(var(--color-base-hue), 50%, 40%);
  }
}

.number-of-sides {
  text-align: center;
  margin-block: 0 2rem;
  scale: 1.5;
  width: 7rem;
  height: 2rem;
  border: 0.15rem solid hsl(var(--color-base-hue), 50%, 40%);

  &:focus-visible {
    outline: transparent;
  }
}

.number-of-dice {
  text-align: center;
  margin-block: 0 auto;
  scale: 1.5;
  width: 7rem;
  height: 2rem;
  border: 0.15rem solid hsl(var(--color-base-hue), 50%, 40%);

  &:focus-visible {
    outline: transparent;
  }
}

.results {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 2rem;
}

.results-die {
  transition: opacity 200ms ease-in-out;
}

@keyframes roll-dice {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(0);
  }
}

.todo-container {
  margin: 2rem 0 0 2rem;
}

.todos {
  height: auto;
  margin-inline-start: -1rem;
}

.todo {
  width: fit-content;
  padding: 0.5rem 1rem 0.5rem 0;
  width: max-content;
  font-size: 1.25rem;
}

.delete-todo-btn {
  margin-inline-start: 1rem;
  background-color: transparent;
  outline: transparent;
  border: none;
  cursor: pointer;
  border: 1px solid white;
  padding: 0.3rem 0.5rem;
  color: red;
}

.todo-input-form {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.add-todo-btn {
  height: 3rem;
  padding-inline: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  &:focus {
    outline: none;
    border: 2px solid #3b93f7;
  }
}

.user-input {
  position: relative;
}

.user-input input {
  color: hsl(calc(var(--color-base-hue)), 10%, 70%);
}

label {
  position: absolute;
  color: hsl(calc(var(--color-base-hue)), 10%, 70%);
  font-size: 1.2rem;
  top: 0.85rem;
  left: 0.7rem;
  transition: top 200ms ease 0s, left 200ms ease 0s;
}

.user-input:has(input:not(:placeholder-shown)) label {
  top: -1.4rem;
  left: 0;
}

.user-input:has(> input:focus) {
  & input {
    outline: none;
    border: 2px solid #3b93f7;
  }

  & label {
    top: -1.4rem;
    left: 0;

    &::after {
      content: ":";
    }
  }
}

.user-input > input {
  height: 3rem;
  padding-inline: 1rem;
  margin-bottom: 1.5rem;
  border: 1px solid #c8ccdf;
  border-radius: 4px;
  width: 25rem;
}
