:root {
  --color-base-hue: 200;
}

.hamburger-menu span:nth-child(2) {
  --nth-child: 1;
  --angle: 45deg;
  --number: -1;
}

.hamburger-menu span:nth-child(3) {
  --nth-child: 2;
}

.hamburger-menu span:nth-child(4) {
  --nth-child: 3;
  --angle: -45deg;
  --number: 1;
}

.dice > .one {
  --face-number: 1;
}

.dice > .two {
  --face-number: 2;
}

.dice > .three {
  --face-number: 3;
}

.dice > .four {
  --face-number: 4;
}

.dice > .five {
  --face-number: 5;
}

.dice > .six {
  --face-number: 6;
}
